@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@layer utilities {
    .scrollbar-hide {
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    src: local('Helvetica'), url('../font/Helvetica.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    font-style: italic;
    font-weight: 400;
    src: local('Helvetica Oblique'), url('../font/Helvetica-Oblique.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    src: local('Helvetica'), url('../font/Helvetica-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    font-style: italic;
    font-weight: 700;
    src: local('Helvetica Bold Oblique'), url('../font/Helvetica-BoldOblique.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    src: local('Helvetica Light'), url('../font/helvetica-light-587ebe5a59211.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Compressed';
    font-weight: 400;
    src: local('Helvetica Compressed'), url('../font/helvetica-compressed-5871d14b6903a.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Rounded Bold';
    font-weight: 700;
    src: local('Helvetica Rounded Bold'), url('../font/helvetica-rounded-bold-5871d05ead8de.woff') format('woff');
    font-display: swap;
}

@theme {
    --font-family-sans: 'Roboto', ui-sans-serif, system-ui, sans-serif;
    --font-family-helvetica: 'Helvetica', ui-sans-serif, system-ui, sans-serif;
    --font-family-helvetica-compressed: 'Helvetica Compressed', ui-sans-serif, system-ui, sans-serif;
    --font-family-helvetica-rounded: 'Helvetica Rounded Bold', ui-sans-serif, system-ui, sans-serif;

    --default-font-family: 'Roboto', ui-sans-serif, system-ui, sans-serif;

    --background-image-main-bg: url('../images/background.png');
    --color-input-dark: #EEF2FF26;
    --color-selection-bg: #26293A;
    --color-bg-card: rgba(30, 27, 75, 0.4);
    --color-bg-secondary: #334155B2;
    --color-rot: #B20707;
}
